:root{
    --primary: #ED3833;
    --secondary: #191C26;
    --roboto:'Roboto', sans-serif;
}

body{
    background-color: var(--secondary);
    height: 100vh;
    overflow-x: hidden;
}

.main-navbar{
    background-color: rgba(0, 0, 0, 0.856);
}

.navbar-brand img{
    width: 100px;
}

.nav-link{
    color: #fff !important;
}

.navbar-collapse{
    flex-grow: unset !important;
}

.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.856);
    
}

.dropdown-item{
    color: #fff;
}


.slider-image img{
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid #fff;
    transform: rotate(5deg);
}

.slider{
    background-color: #071622;
    height: 100vh;
    display: flex;
    align-items: center;
}

.name{
    font-size: 25px;
    color: var(--primary);
    text-align: center;
}

.job{
    font-size: 90px;
    font-family: var(--roboto);
    text-align: center;
    color: #fff;
}

.location{
    font-size: 60px;
    font-family: var(--roboto);
    text-align: center;
    color: var(--primary)
}


.description{
    color: rgba(255, 255, 255, 0.733);
    text-align: center;
}

@media(max-width:767px){
    .job{
        font-size: 40px !important ;
    }
    .location{
        font-size: 30px !important;
    }
}

/* about */

.sm-title{
    color: var(--primary);
    font-size: 18px;
}

.lg-title{
    color: #fff;
    font-size: 50px;
    font-family: var(--roboto);
}

.text{
    color: rgba(255, 255, 255, 0.671);
}

.about-image{
    width: 70%;
    border-radius: 5%;
    overflow: hidden;
}

.a-name{
    color: #fff;
    font-size: 25px;
}

.a-job{
    color: #fff;
    font-size: 25px;
}

.a-job span{
    color: var(--primary);
}

.line{
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.425);
}

table{
    color: #fff;
}

.p-i{
    font-family: var(--roboto);
    color: #fff;

}

.iconSection{
    display: flex;
}

.icon-text{
    color: #fff;
    margin-left: 10px;
}

.c-text{
    color: #fff;
    font-size: 30px;
}
.c-text span {
    color: var(--primary);
   
}

.form-label{
    color: #fff;
}

.footer{
    height: 50px;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
}

.footer a{
    text-decoration: none;
    color: #fff;
    margin-left: 43%;
}
 .footer a span{
     color: var(--primary);
 }